/* Specific/overridden styles for Tutorialy */

/* Add some padding top for center alignment in our header */
.nav {
  padding-top: 5px;
}

.content-area {
  margin: 0 auto;
  background-color: transparent;
}

.panel-title.list-link {
  /*cursor: pointer;*/
  text-decoration: underline;
  color: #317eac;
  /*color: #eee;*/
}

/* Specific styles for the list view page */
.listView h1 {
  text-align: left;
  margin: 25px 10px;
  /*margin: 0 auto;*/
  font-weight: 200;
  font-size: 32px;
  letter-spacing: 1px;
}

.listView .page-header {
  margin: 0;
}

.listView .content-area {
  margin-top: 4em;
}

.page-header {
  border-bottom: 3px solid #eee;
}

.panel {
  background-color: #ddd
}

.fa.fa-trash {
  font-size: 40px;
}

.fa.fa-trash:hover {
  color: #ee0606;
  cursor: pointer;
}

.signin-splash {
  background: #fff;
  height: 100%;
}

.signin-splash .container {
  margin: auto;
  padding-top: 10%;
}

.signin-splash .login {
  text-align: center;
  background: #fff;
  border-radius: 4px;
  padding: 0 0 0;
  border: 8px solid #178acc;
  box-shadow: 0 3px 0px rgba(0,0,0,0.3);
  overflow: hidden;
}

.signin-splash h1 {
  color: #178acc;
}

.signin-splash p {
  font-size: 16px;
  color: #178acc;
  margin: 0.5em 3em 2em;
}

.signin-splash .btn {
  width: 100%;
  height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  background: #178acc;
  border: none;
}