/* Specific/overridden styles for Tutorialy */

/* Add some padding top for center alignment in our header */
.nav {
  padding-top: 5px;
}

.content-area {
  margin: 0 auto;
  background-color: transparent;
}

.panel-title.list-link {
  /*cursor: pointer;*/
  text-decoration: underline;
  color: #317eac;
  /*color: #eee;*/
}

/* Specific styles for the list view page */
.listView h1 {
  text-align: left;
  margin: 25px 10px;
  /*margin: 0 auto;*/
  font-weight: 200;
  font-size: 28px;
  letter-spacing: 1px;
}

.listView .page-header {
  margin: 0;
}

.listView .content-area {
  margin-top: 4em;
}
