.panel-title.list-link:hover {
  color: #72C1EE;
}

ul.nav a:hover {
  background-color: #317EAC !important;
}

.created-by {
  background-color: #F5F5DC;
  margin-left: 25px;
  /*margin: auto auto;*/

}