/*.read {
  text-align: center;
}
*/

/*body {
	background-color: beige;
}*/
img {
  max-width: 100%;
}

.tutorial-header {
  text-align: left;
}

.tutorial-header > h2 {
	font-size:32px;
	font-weight: 200;
	color: #317eac;

}

.tutorial-header > p {
	margin: 0 auto;
	font-weight: 200;
	padding-bottom: 30px;
}

.tutorial-header .fa {
  margin-top: 24px;
}

div.btn {
	float: right;
	margin: -54px;
	margin-right: 52px;
	/*width:22%;*/
}

.step-btns {
  width: 100%;
}

button.add-step-btn {
  width: 100%;
}

button.save-step-btn {
  float: right;
}

.content-steps {

  border-top: 3px solid #eee;
}

h3 {
	font-size: 16px;
}

p.lead {
}
.panel-body {

}
