/*.read {
  text-align: center;
}
*/

/*body {
	background-color: beige;
}*/

legend > h2 {
	color: 1C5F75;
	text-align:center;
	font-size:32px;
	font-weight: 200;
	margin: 0 auto;
	color: #317eac;
}

legend > p {
  text-align: center;
	margin: 0 auto;
	font-weight: 200;
	padding-bottom: 20;
}

div.btn {
	float: right;
	margin: -54px;
	margin-right: 52px;
	/*width:22%;*/
}

.content-steps {
  text-align:left;
  width: 90%;
  margin: 0 auto;
  /*height: 500px;*/
  background-color: transparent;
  /*border: 1px solid #eee;*/
}

h3 {
	font-size: 16px;
	text-decoration: underline;
}

.panel-body {
	text-align: left;
}
